


/** swap left and right (or top and bottom) panels: */

/*
.split-pane:nth-child(2) { order: 0; }
.splitter { order: 1; }
.split-pane:first-child { order: 2; }
*/

/** use a web font in the shell: */
/*
@import 'https://fonts.googleapis.com/css?family=Fira+Mono:400,700';
.shell pre {
  font-family: 'Fira Mono', monospace;
  font-size: 10pt;
}
*/
