
/* --- chooser ---------------------------------------------------------- */

.chooser-label {
  max-width: 99%;
}

.chooser-radio, .chooser-checkbox {
  padding-left: 0em;
  cursor: default;
  display: flex;
  position: relative;
}

.chooser-radio::before {

  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;

  padding-right: .75em;
  overflow: hidden;
  content: "\ea56";
  color: #777;
  font-size: 16px;
  position: relative;
  top: 4px;
  min-width: 24px;
}

.chooser-radio.chooser-radio-checked::before {
  content: "\ea54";
  color: #4285f4;
}

.chooser-checkbox::before {

  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  
  overflow: hidden;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: 0;
  position: relative;
  top: .45em;
  content: "\e5ca";
  margin-right: .6em;
  font-size: 1.25em;
  color: transparent;

}

.chooser-checkbox.chooser-checkbox-checked::before {
  color: #333;
}

/* --- mirror chooser---------------------------------------------------- */

#mirror-chooser .dialog-body {
  min-height: 10em;
}

#mirror-chooser-wait {
  margin: .5em 1em;
}

#mirror-chooser {
  height: 90%;
  width: 50%;
}

.mirror-chooser-name {
  font-size: 16px;
  color: #333;
}

.mirror-chooser-host {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
  font-size: 13px;
}


.mirror-chooser-entry {
  padding: .5em 1em;
  display: block;
}

.vlist-list-entry:nth-child(even) .mirror-chooser-entry {
  background: #F6FCFE;
}

.chooser-footer-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.chooser-footer-layout .left-side {
  text-align: left;
  top: 50%;
  flex-grow: 1;
}

.chooser-footer-layout .right-side {

}


.dialog-checkbox {
  padding: 12px 12px 6px 12px;
}

.dialog-checkbox input[type=checkbox] {
  display: none;
}

.dialog-checkbox label:before {

  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: '\e5ca';
  display: inline-block;
  font-size: 1.25em;
  position: relative;
  padding-right: .25em;
  color: transparent;
  top: 1px;
}

.dialog-checkbox input[type="checkbox"]:checked + label::before {
  color: #666;
}



/* --- package chooser------------------------------------------------------ */

.package-chooser-name {
  white-space: nowrap;
}

.package-chooser-entry {
  padding: .75em 1em;
  display: flex;
  flex-direction: row;
}

.package-chooser-version {
  color: #666;
}

.package-chooser-description {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #999;
  padding-left: 1em;
  cursor: default;
}

.vlist-list-entry:nth-child(even) .package-chooser-entry {
  background: #F6FCFE;
}

.package-chooser-entry .chooser-checkbox.disabled {
  color: #666;
}

.package-chooser-entry .chooser-checkbox.disabled::before {
  color: inherit;
}

#package-chooser .dialog-header > div {
  display: flex;
}

#package-chooser .dialog-header-form {
  padding-left: 1em;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#package-chooser .dialog-header-form input[type=text] {
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  padding-left: .5em;
  top: 1px;
  font-size: 14px;
  position: absolute;
  font-family: inherit;
}

.dialog-header-form-child:last-child {
  font-size: 14px;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  padding-top: 2px;
  text-align: right;
}

.dialog-header-form-child input:checked + label:before {
  color: #fff !important;
}

#package-chooser .dialog-body {
  min-height: 10em;
}

#package-chooser-wait {
  margin: .5em 1em;
}

#package-chooser {
  height: 90%;
  width: 50%;
}

