
#editor-container {
  border: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
}

#editor-header {
  display: flex;
  flex-direction: row;
}

#editor-header {
  background: #eee;
}

.editor-tab {
  background: transparent;
  cursor: pointer;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: .75em 0;
  user-select: none;
  display: flex;
  flex-direction: row;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  min-height: 39px;
}

.editor-tab.active {
  background: #fff;
}

.editor-tab .label {
  /*
  color: #888;
  */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 1em;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.editor-tab .tab-icon {
  min-width: 3em;
  text-align: center;
  position: relative;
}

/* default to X, and not visible. */
.editor-tab .tab-icon:after {

  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;

  content: "\e5cd";
  font-size: 1.2em;

  padding: 0;
  color: transparent;
  position: relative;
  top: 2px;
}

/* dirty tabs show circles, always visible. */
.editor-tab.dirty .tab-icon:after {
  content: "\e900";
  color: #333;
  top: 1px;
  font-size: .75em;
}

/* active tab or hovering, x is visible */
.editor-tab.active .tab-icon:after, .editor-tab:hover .tab-icon:after  {
  color: #333;
}

/* hovering over the icon -- even if dirty -- shows X. */
.editor-tab:hover .tab-icon:hover:after {
  content: "\e5cd"; /* "Cancellation X" */
  font-size: 1.2em;
  top: 2px;
}

.editor-flex-patch {
  flex-grow: 1;
  position: relative;
}

#editor-body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#editor-footer {
  background: #eee;
  border-top: 1px dotted #ccc;
  margin-top: 0px;
  display: flex;
  color: #333;
  font-size: .9em;
  padding-left: .5em;
  padding-right: .5em;
}

#editor-footer.hide {
  display: none;
}

#editor-footer > div {
  position: relative;
  margin: .2em .2em .3em .2em;
  padding: 0 .5em;
  border: 1px solid #ddd;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#editor-footer > div:first-child {
  flex-grow: 1;
  border-color: transparent;
}

#editor-info-position {
  min-width: 10em;
  display: inline-block;
  text-align: left;
}

/* --- editor theming --- */

/* 
   this set handles the default built-in editor themes.  if we add any
   more themes, presumably we can wrap up these elements with them.
   
 */

#editor-header.vs-dark, #editor-header.hc-black  {
  background: #444;
}

.vs-dark .editor-tab.active {
  background: #1e1e1e;
}

.hc-black .editor-tab.active {
  background: #000;
} 

.vs-dark .editor-tab.dirty .tab-icon:after,
  .vs-dark .editor-tab.active .tab-icon:after, 
  .vs-dark .editor-tab:hover .tab-icon:after {
  color: #bbb;
}

.hc-black .editor-tab.dirty .tab-icon:after,
  .hc-black .editor-tab.active .tab-icon:after, 
  .hc-black .editor-tab:hover .tab-icon:after {
  color: #fff;
}

#editor-footer.vs-dark {
  background: #444;
  color: #bbb;
  border-top-color: #666;
}

#editor-footer.vs-dark > div {
  border-color: transparent;
}

#editor-footer.hc-black  {
  background: #444;
  color: #fff;
  border-top-color: #666;
}

#editor-footer.hc-black > div {
  border-color: transparent;
}

